#workouts {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
}

#home {
  height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
}

#banner {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}