.workout-category {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  height: 300px;
  margin: 5px;
  /* background-image: url('../../public/assets/temp.jpg') */
}

.workout-category:hover{
  opacity: 90%;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.9);
}

.workout-subcategory {
  border: solid 2px white;
  color: white; 
  border-radius: 5px;
  width: 40%;
  padding: 5px;
  margin: 5px;
  background-color: rgb(50, 50, 50);
}

.workout-subcategory:hover {
  background-color: white;
  color: rgb(50, 50, 50);
}

.workout-category-title {
  /* color: rgb(226, 174, 63); */
  color: white;
}